body {display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;margin: 0;
    background: #234;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-image:url('https://images.unsplash.com/photo-1504608524841-42fe6f032b4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1065&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.card {
    background: #808080;
    color:black;
    padding: 5em;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    margin: 1em;
    opacity: 0.70;
}
button:hover{
    border-color: crimson;
    align-items:center ;
    display: flex;
    border-radius: 35%;
    background: #7c7c7c2b;
    cursor: pointer;
    justify-content:center;
    margin: auto;
    height: 2.5em;
    width: 2.5em;
    transition: 0.2s ease-in-out;
}
h1.temp{
    margin:0;
    margin-bottom:0.5em;
}

input.search-bar {
    display:flex;
    align-items:center;
    justify-content:center;
    border-color: crimson;
    outline: none;
    padding: 0.5em;
    border-radius: 15px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 100%;
    width: 75%;
}
.description {
    text-transform: capitalize;
    margin-left:8px;
}
.flex {display:flex;
align-items:center;
}
.weather.loading{
    visibility: hidden;
    max-height:20px;
    position:relative;
}
.weather.loading:after{
    visibility:visible;
    content:"Loading...";
    color:white;
    position:absolute;
    top:0;
    left:20px;
}